%turbo-frame#deployment_status
  .card.mt-3
    %h5.card-header.d-flex.justify-content-between.align-items-center
      = t('activerecord.models.node_deployment')
      .d-flex.model-buttons
        = button_to t('helpers.navigate.back'), node_path(@node_deployment.node), class: 'btn btn-primary', method: :get
    .card-body
      %pre.mt-2.vh-80
        %code{data: {controller: 'ansi-color'}}
          - if @status.kind_of?(Array)
            - @status.each do |line|
              = line
          - else
            = @status